[user]
	name = Sean
	email = sean.mckinley@outlook.com
[color]
	ui = true
[color "status"]
	changed = 176
	added = 067
	untracked = 071
[push]
	default = simple
[alias]
  last-tag = "!sh -c \"git tag -l | sort -n -t. -k1,1 -k2,2 -k3,3 -k4,4 | tail -n 1\""
