# files/directories
/*
.*

!.vim/
.vim/*
!.vim/bundle/*
!.vim/autoload/*
!.vim/colors/*

!.config/
.config/*
!.config/tint2/
.config/tint2/*.jpg
!.config/openbox/
.config/openbox/menu.xml
.config/openbox/autostart*

!.vimrc

!.weechat/
.weechat/logs/
.weechat/weechat.log

!.Xresources
